*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
The root font size decides the rem calculation,
10px root font-size gives the other px values
a rem value devided by 10. So 40px = 4rem
percentage calculation:
default browser font is 16px
10 / 16 = 0.625 = 62.5%
*/

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  background-color: $color-grey-light-1; 
  text-decoration: none;
}

body {
   padding: 1rem;
}

.container {
  display: grid;
  grid-template-rows: 12vh repeat(2, min-content);
  grid-template-columns: [navigation-start] 16rem [navigation-end full-start] 1fr [center-start] repeat(8,
  [col-start] minmax(min-content, 14rem) [col-end])[center-end] 1fr [full-end];
}
