// COLORS:
$color-primary: #000;

// --Green Colors:
$color-green-light-1: #00a591;
$color-green-light-2: #bfd641;
$color-green-light-3: #cbf13e;

$color-green-medium-1: #8d9440;

$color-green-dark-1: #028c52;
$color-green-dark-2: #006e6d;
$color-green-dark-3: #616247;
$color-green-dark-4: #233d1c;

// --Yellow colors:
$color-yellow-medium-1: rgb(250, 213, 7);
$color-yellow-medium-2: rgb(255, 208, 0);


// --Grey Colors:
$color-grey-light-1: #fafafa;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;

// --Black and White:
$color-white: #fff;
$color-black: #000;

// FONTS:
$font-heading: 'Ubuntu', sans-serif; 
$font-paragraph: 'PT Sans', sans-serif;

// --Font sizes:
$default-font-size: 1.6rem;

// MARGINS:
$margin-bottom-s: 1rem;
$margin-bottom-l: 3rem;
