*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
The root font size decides the rem calculation,
10px root font-size gives the other px values
a rem value devided by 10. So 40px = 4rem
percentage calculation:
default browser font is 16px
10 / 16 = 0.625 = 62.5%
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fafafa;
  text-decoration: none; }

body {
  padding: 1rem; }

.container {
  display: grid;
  grid-template-rows: 12vh repeat(2, min-content);
  grid-template-columns: [navigation-start] 16rem [navigation-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

body {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000; }

.heading, .heading:link, .heading:visited {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
  text-decoration: none; }

.heading--primary {
  font-size: 4.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #028c52;
  cursor: pointer; }

.heading--secondary {
  font-size: 1.5rem;
  font-weight: 400;
  color: #eee;
  letter-spacing: 0.1rem; }

.heading--main {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  color: #028c52;
  margin-bottom: 3rem; }

.heading--eventslist {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 500;
  color: #028c52;
  letter-spacing: 0.2rem; }

.paragraph {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }
  .paragraph--header {
    text-align: center; }

.textarea {
  resize: none; }

.btn, .btn:link, .btn:visited {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  height: auto;
  width: 12rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  text-transform: uppercase;
  padding: 0.8rem;
  border-radius: 0.6rem;
  transition: all .1s;
  outline: none;
  border: none;
  cursor: pointer; }

.btn:hover {
  color: #616247;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--yellow {
  background-color: #fad507;
  margin-bottom: 1rem; }
  .btn--yellow:hover {
    background-color: #ffd000; }

.btn--green {
  background-color: #028c52;
  color: #fff;
  margin-bottom: 1.8rem; }
  .btn--green:hover {
    background-color: #233d1c;
    color: #fff; }

.about {
  background-color: #fafafa;
  grid-column: maincol-start 1 / maincol-end 8; }

.aboutcontainer {
  text-align: center; }
  .aboutcontainer--description {
    width: 75rem;
    height: auto;
    margin-left: auto;
    margin-right: auto; }

.cuttings {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }

.events {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }

.footer {
  background-color: #fafafa;
  grid-column: navigation-start / full-end;
  height: 15rem; }

.header {
  background-color: #fafafa;
  grid-column: full-start / full-end; }

.header-container {
  display: grid;
  grid-template-columns: [header-left] 1fr [header-center] 1fr [header-right] 1fr; }
  .header-container__logo {
    grid-column: header-center / header-right;
    align-self: start;
    justify-self: center; }
  .header-container__language {
    grid-column: header-right / header-right;
    align-self: start;
    justify-self: end; }

.maincontent {
  background-color: #fafafa;
  grid-column: full-start / full-end;
  padding: 0rem;
  display: grid; }

.maincolumn {
  display: grid;
  grid-template-columns: [main-start] 1fr repeat(8, [maincol-start] minmax(min-content, 14rem) [maincol-end]) 1fr [main-end]; }

.navigation {
  background-color: #fafafa;
  grid-column: navigation-start / navigation-end;
  grid-row: 1 / 3; }

.users {
  background-color: #fafafa;
  grid-column: maincol-start 3 / maincol-end 6; }
