*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
The root font size decides the rem calculation,
10px root font-size gives the other px values
a rem value devided by 10. So 40px = 4rem
percentage calculation:
default browser font is 16px
10 / 16 = 0.625 = 62.5%
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fafafa;
  text-decoration: none; }

body {
  padding: 1rem; }

.container {
  display: grid;
  grid-template-rows: 12vh repeat(2, min-content);
  grid-template-columns: [navigation-start] 16rem [navigation-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

body {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000; }

.heading, .heading:link, .heading:visited {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
  text-decoration: none; }

.heading--primary {
  font-size: 5.3rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #028c52;
  cursor: pointer; }

.heading--secondary {
  font-size: 2rem;
  font-weight: 500;
  color: #999696;
  letter-spacing: 0.1rem; }

.heading--main {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  color: #028c52;
  margin-bottom: 3rem; }

.heading--eventslist {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 500;
  color: #028c52;
  letter-spacing: 0.2rem; }

.heading--loginfeedback {
  background-color: #01eb88;
  color: #fafafa;
  border-radius: 1.5rem;
  font-size: 3rem;
  width: fit-content;
  padding: 0.8rem; }

.paragraph {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }
  .paragraph--header {
    text-align: center; }

.textarea {
  resize: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  height: auto;
  width: 12rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  text-transform: uppercase;
  padding: 0.8rem;
  border-radius: 0.6rem;
  transition: all .1s;
  outline: none;
  border: none;
  cursor: pointer; }

.btn:hover {
  color: #014a00;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--yellow {
  background-color: #fad507;
  color: #000;
  margin-bottom: 1rem; }
  .btn--yellow:hover {
    background-color: #f8b809;
    color: #fafafa; }

.btn--green {
  background-color: #028c52;
  color: #fafafa;
  margin-bottom: 1.8rem; }
  .btn--green:hover {
    background-color: #016f00;
    color: #fff; }

.btn--grey {
  background-color: #cccccc;
  color: #fafafa;
  margin-bottom: 1.4rem; }
  .btn--grey:hover {
    background-color: #999696;
    color: #fff; }

.btn--form-blue {
  background-color: #3bc2f8;
  color: #fafafa;
  margin-bottom: 1.8rem;
  padding: 1.3rem 1.4rem;
  width: 12.5rem; }
  .btn--form-blue:hover {
    background-color: #00a9ec;
    color: #fff; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: #424242;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  letter-spacing: 0.1rem; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #01eb88; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #f96714; }
  .form__input::-webkit-input-placeholder {
    color: #999696; }

.form__label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-bottom: .7rem;
  display: block;
  letter-spacing: 0.1rem; }

.about {
  background-color: #fafafa;
  grid-column: maincol-start 1 / maincol-end 8; }

.aboutcontainer {
  text-align: center; }
  .aboutcontainer--description {
    width: 75rem;
    height: auto;
    margin-left: auto;
    margin-right: auto; }

.cuttings {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }

.cuttingslist {
  display: grid;
  grid-template-columns: [cuttingslist-start] 1fr repeat(8, [cuttingslist-col-start] minmax(min-content, 14rem) [cuttingslist-col-end]) 1fr [cuttingslist-end]; }
  .cuttingslist__button {
    grid-column: cuttingslist-col-start 8 / cuttingslist-col-end 8;
    justify-self: right; }
  .cuttingslist__content {
    grid-column: cuttingslist-col-start 1 / cuttingslist-col-end 8; }

.cuttingsform-container {
  display: grid;
  grid-template-columns: [cuttingsform-start] 1fr repeat(8, [cuttingsform-col-start] minmax(min-content, 14rem) [cuttingsform-col-end]) 1fr [cuttingsform-end]; }

.cuttingsform {
  grid-column: cuttingsform-col-start 3 / cuttingsform-col-start 7; }

.createcuttings {
  background-image: linear-gradient(rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 65%, transparent 90%), url("../img/stekjes-01.jpg");
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 59rem;
  width: 80rem; }
  .createcuttings__form {
    height: 50%;
    padding: 4rem  0rem  0rem  9rem; }

.events {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }

.eventsform-container {
  display: grid;
  grid-template-columns: [eventsform-start] 1fr repeat(8, [eventsform-col-start] minmax(min-content, 14rem) [eventsform-col-end]) 1fr [eventsform-end]; }

.eventsform {
  grid-column: eventsform-col-start 3 / eventsform-col-start 7; }

.footer {
  background-color: #fafafa;
  grid-column: navigation-start / full-end;
  height: 15rem; }

.header {
  background-color: #fafafa;
  grid-column: full-start / full-end; }

.header-container {
  display: grid;
  grid-template-columns: [header-left] 1fr [header-center] 1fr [header-right] 1fr; }
  .header-container__logo {
    grid-column: header-center / header-right;
    align-self: start;
    justify-self: center; }
  .header-container__language {
    grid-column: header-right / header-right;
    align-self: start;
    justify-self: end; }

.maincontent {
  background-color: #fafafa;
  grid-column: full-start / full-end;
  padding: 0rem;
  display: grid; }

.maincolumn {
  display: grid;
  grid-template-columns: [main-start] 1fr repeat(8, [maincol-start] minmax(min-content, 14rem) [maincol-end]) 1fr [main-end]; }

.navigation {
  background-color: #fafafa;
  grid-column: navigation-start / navigation-end;
  grid-row: 1 / 3; }

.users {
  background-color: #fafafa;
  grid-column: maincol-start 3 / maincol-end 6; }

.signupcontainer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.91) 0%, rgba(255, 255, 255, 0.91) 65%, transparent 90%), url("../img/stekjesruilers-02.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 56rem;
  width: 60rem; }
  .signupcontainer__form {
    height: 50%;
    padding: 4rem  0rem  0rem  9rem; }

.logincontainer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 95%), url("../img/stekjesruilers-04.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 43rem;
  width: 55rem; }
  .logincontainer__form {
    height: 50%;
    padding: 3.5rem  0rem  0rem  9rem; }
