*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/*
The root font size decides the rem calculation,
10px root font-size gives the other px values
a rem value devided by 10. So 40px = 4rem
percentage calculation:
default browser font is 16px
10 / 16 = 0.625 = 62.5%
*/
html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fafafa;
  height: 100%; }

body {
  height: 100%; }

.container {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 12vh repeat(2, min-content);
  grid-template-columns: [navigation-start] 6rem [navigation-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
  height: 100%; }

body {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000; }

.heading, .heading:link, .heading:visited {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 1rem;
  text-decoration: none; }

.heading--primary {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #028d53;
  cursor: pointer; }

.heading--secondary {
  font-size: 2rem;
  font-weight: 500;
  color: #999696;
  letter-spacing: 0.1rem; }

.heading--main {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  color: #028d53;
  margin-bottom: 3rem; }

.heading--eventslist {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 500;
  color: #028d53;
  letter-spacing: 0.2rem; }

.heading--loginfeedback {
  background-color: #01eb88;
  color: #fafafa;
  border-radius: 1.5rem;
  font-size: 3rem;
  width: fit-content;
  padding: 0.8rem;
  text-align: center; }

.heading--home-subtitle {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #777777; }

.paragraph {
  font-family: "PT Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #000; }
  .paragraph--header {
    text-align: center; }

.textarea {
  resize: none; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-margin-top-huge {
  margin-top: 8rem !important; }

.backdrop {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100; }

.btn, .btn:link, .btn:visited {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  height: auto;
  width: 12rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  text-transform: uppercase;
  padding: 0.8rem;
  border-radius: 0.6rem;
  transition: all .1s;
  outline: none;
  border: none;
  cursor: pointer; }

.btn:hover {
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--yellow {
  background-color: #fddb18;
  color: #000;
  margin-bottom: 1rem; }
  .btn--yellow:hover {
    background-color: #fde931;
    color: #000; }

.btn--green {
  background-color: #028d53;
  color: #fafafa;
  margin-bottom: 1.8rem; }
  .btn--green:hover {
    background-color: #016f00;
    color: #fff; }

.btn--grey {
  background-color: #cccccc;
  color: #fafafa;
  margin-bottom: 1.4rem; }
  .btn--grey:hover {
    background-color: #999696;
    color: #fff; }

.btn--form-blue {
  background-color: #3bc2f8;
  color: #fafafa;
  margin-bottom: 1.8rem;
  padding: 1.3rem 1.4rem;
  width: 14rem; }
  .btn--form-blue:hover {
    background-color: #00a9ec;
    color: #fff; }

.btn--text, .btn--text:link, .btn--text:visited {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  height: auto;
  width: 12rem;
  color: #000;
  display: inline-block;
  text-decoration: none;
  transition: all .2s;
  text-transform: uppercase;
  padding: 0.8rem 1.4rem 0.8rem 1.4rem;
  border-radius: 0.6rem;
  transition: all .1s;
  outline: none;
  border: none;
  cursor: pointer;
  background: none; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.6rem;
  font-family: inherit;
  color: #424242;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  letter-spacing: 0.1rem; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #01eb88; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #f96714; }
  .form__input::-webkit-input-placeholder {
    color: #999696; }

.form__label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-left: 2rem;
  margin-bottom: .7rem;
  display: block;
  letter-spacing: 0.1rem; }

.select--language {
  background-color: #fafafa;
  border: none;
  -webkit-border-top: 2px dotted #028d53;
  border-top: 2px dotted #028d53;
  -moz-appearance: button;
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #028d53;
  padding: 0.5rem 1rem; }
  .select--language__option {
    background-color: #fafafa;
    color: #028d53; }

.side-drawer {
  height: 100%;
  background-color: #eeeeee;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 30rem;
  z-index: 200;
  transform: translateX(-102%);
  transition: transform 0.45s cubic-bezier(0.97, 0.13, 0.45, 1.02); }

.side-drawer.open {
  transform: translateX(0); }

.about {
  background-color: #fafafa;
  grid-column: maincol-start 1 / maincol-end 8; }

.aboutcontainer {
  text-align: center; }
  .aboutcontainer--description {
    width: 75rem;
    height: auto;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-left: auto;
    margin-right: auto; }

.cuttings {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }
  .cuttings--list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 4rem;
    margin: 1rem; }
    .cuttings--list__button {
      background-color: #fafafa;
      margin: 1rem;
      grid-column: 4 /  5;
      justify-self: right;
      align-self: end; }

.cutting {
  padding: 1rem 3rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: #eeeeee; }
  .cutting--name {
    font-size: 1.6rem;
    color: #424242;
    font-weight: 400; }
  .cutting--photo {
    height: auto;
    width: 20rem;
    margin-top: 1rem; }
  .cutting:hover {
    background-color: rgba(141, 255, 121, 0.1);
    transform: translateY(-2px); }

.cutting-details {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-template-columns: repeat(8, 1fr); }
  .cutting-details__title {
    grid-column: 3 / 7;
    grid-row: 3 / 4;
    justify-self: center;
    font-size: 1.5rem;
    color: #999696;
    margin-top: 1rem;
    justify-self: left;
    padding-left: 4.5rem; }
  .cutting-details__photo {
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    height: auto;
    width: 45rem;
    justify-self: center; }
  .cutting-details__description {
    grid-column: 3 / 7;
    grid-row: 4 / 4;
    font-size: 1.4rem;
    margin-top: 4rem;
    padding: 1.2rem 1.5rem 3rem 1.5rem;
    margin-bottom: 2rem;
    justify-self: center;
    align-self: center;
    border-top: 1px dotted rgba(2, 141, 83, 0.5);
    background-color: rgba(203, 241, 62, 0.1); }
  .cutting-details__delete-button {
    grid-column: 8 / 8;
    grid-row: 5 / 5; }

.cuttingsform-container {
  display: grid;
  grid-template-columns: [cuttingsform-start] 1fr repeat(8, [cuttingsform-col-start] minmax(min-content, 14rem) [cuttingsform-col-end]) 1fr [cuttingsform-end]; }

.cuttingsform {
  grid-column: cuttingsform-col-start 3 / cuttingsform-col-start 7; }

.createcuttings {
  background-image: linear-gradient(rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 65%, transparent 90%), url("../img/stekjes-01.jpg");
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 59rem;
  width: 80rem; }
  .createcuttings__form {
    height: 50%;
    padding: 4rem  0rem  0rem  9rem; }

.events {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }
  .events--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem 8rem;
    margin: 1rem; }
  .events__button {
    background-color: #fafafa;
    margin: 1rem;
    grid-column: 3 / 4;
    justify-self: right;
    align-self: end; }

.event {
  width: 40rem;
  padding: 0rem 0rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: #eeeeee;
  height: auto;
  text-align: center;
  transition: all .1s; }
  .event__name {
    font-size: 2.4rem;
    color: #999696;
    font-weight: 600;
    margin-bottom: 2rem; }
  .event__photo {
    border-radius: 0.5rem 0.5rem 0 0;
    height: auto;
    width: 100%;
    margin-top: 0rem; }
  .event__date {
    font-size: 1.7rem;
    padding: 0.5rem;
    font-weight: 500;
    color: #999696; }
  .event:hover {
    background-color: rgba(141, 255, 121, 0.1);
    transform: translateY(-2px); }

.eventsform-container {
  display: grid;
  grid-template-columns: [eventsform-start] 1fr repeat(8, [eventsform-col-start] minmax(min-content, 14rem) [eventsform-col-end]) 1fr [eventsform-end]; }

.eventsform {
  grid-column: eventsform-col-start 3 / eventsform-col-start 7; }

.eventpopup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999; }

.eventdetails {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  width: 80rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 1rem; }
  .eventdetails__photo {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    z-index: 1;
    border-radius: 1rem 1rem 0rem 0rem; }
  .eventdetails__title {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    grid-row: 2 / 3;
    justify-self: start;
    margin: 1.5rem 0rem 1.7rem 2rem; }
  .eventdetails__close {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    color: red;
    width: 3rem;
    height: 3rem;
    justify-self: end;
    align-self: start;
    z-index: 2;
    background-color: #014a00;
    border-radius: 50%;
    border: none;
    margin-top: 0.7rem;
    margin-right: 0.7rem;
    box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }
    .eventdetails__close p {
      position: absolute;
      margin-left: 1rem;
      margin-top: 0.2rem;
      font-weight: 600;
      font-size: 1.5rem;
      color: #fff; }
  .eventdetails__date {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: end;
    margin: 1.2rem 2rem 0 0; }
    .eventdetails__date p {
      font-weight: 600;
      font-size: 1.7rem;
      color: #028d53;
      background-color: none;
      padding: 0rem 0.8rem 0rem 0.8rem; }
  .eventdetails__time {
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: end;
    margin: 3.5rem 2rem 0 0; }
    .eventdetails__time p {
      font-weight: 600;
      font-size: 1.5rem;
      color: #028d53;
      background-color: none;
      padding: 0rem 0.8rem 0rem 0.8rem;
      letter-spacing: 0.1rem; }
  .eventdetails__description {
    grid-column: 1 / 5;
    margin-right: 1.5rem;
    margin-bottom: 2rem; }
    .eventdetails__description p {
      margin-left: 3rem;
      background-color: rgba(238, 238, 238, 0.4);
      padding: 1.5rem 3rem 1.5rem 1.4rem;
      border-left: 0.5rem solid #028d53; }
  .eventdetails__location {
    width: 31rem;
    grid-column: 1 / 3;
    margin-left: 2rem; }
    .eventdetails__location p {
      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      color: #2c2d2e; }
  .eventdetails__btn-website {
    margin: 1.6rem 0 2rem 0;
    letter-spacing: 0.1rem;
    width: 15rem; }
  .eventdetails__fb-event {
    grid-column: 4 / 4;
    grid-row: 4 / 4;
    align-self: start;
    justify-self: end;
    margin: 0 2rem 0rem 0rem;
    display: flex;
    align-items: center;
    cursor: pointer; }
    .eventdetails__fb-event p {
      font-size: 1.3rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: #007bac; }
    .eventdetails__fb-event img {
      height: 2.2rem;
      width: 2.2rem;
      margin-right: 0.2rem; }
  .eventdetails__delete {
    height: 2rem;
    width: 2rem;
    grid-column: 4 / 4;
    grid-row: 4 / 4;
    align-self: end;
    justify-self: end;
    margin: 0 2rem 2rem 0;
    cursor: pointer;
    z-index: 3; }

.leaflet-container {
  grid-column: 3 / 4;
  grid-row: 4 / 4;
  align-self: start;
  justify-self: end;
  margin-left: 2rem;
  width: 31rem;
  height: 18rem; }

.footer {
  background-color: #fafafa;
  grid-column: navigation-start / full-end;
  border-top: 0px solid #eeeeee;
  height: 8rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0; }

.header {
  background-color: #fafafa;
  grid-column: navigation-start / full-end;
  padding: 2rem; }

.header-layout {
  display: grid;
  grid-template-columns: [header-left] 1fr [header-center] 1fr [header-right] 1fr; }
  .header-layout__nav {
    grid-column: header-left / header-center;
    align-self: start; }
  .header-layout__logo {
    grid-column: header-right/ header-right;
    justify-self: end; }
  .header-layout__language {
    grid-column: header-right / header-right;
    align-self: start;
    justify-self: end; }

.home {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: #fafafa; }

.maincontent {
  background-color: #fafafa;
  grid-column: navigation-start / full-end;
  padding-bottom: 8rem;
  margin-bottom: 5rem; }

.maincolumn {
  display: grid;
  grid-template-columns: [main-start] 1fr repeat(8, [maincol-start] minmax(min-content, 14rem) [maincol-end]) 1fr [main-end]; }

.navigation__nav {
  background-color: #eeeeee;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  margin-top: 15rem;
  margin-left: 0rem; }

.navigation__list {
  background-color: #eeeeee;
  list-style: none; }

.navigation__item {
  margin: 3rem 0 3rem 0; }

.navigation__link:link, .navigation__link:visited {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background: #f8b809;
  border-radius: 0rem 1.5rem 1.5rem 0rem; }

.navigation__link:hover {
  background: #ffd000;
  color: #f96714;
  border-left: 5px solid #f96714;
  box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.1);
  background-position: 100%;
  transition: all .2s; }

.navigation__checkbox {
  display: none; }

.navigation__button, .navigation__button:link, .navigation__button:visited {
  height: 6.5rem;
  width: 6.5rem;
  position: fixed;
  background-color: #f8b809;
  box-shadow: 0 0.5rem 3rem rgba(248, 184, 9, 0.8);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 2000;
  transition: all .2s;
  text-align: center; }

.navigation__button:focus {
  outline: none; }

.navigation__button:hover {
  box-shadow: none; }

.navigation__line {
  position: relative;
  margin-top: 3.1rem; }
  .navigation__line, .navigation__line::before, .navigation__line::after {
    width: 3rem;
    height: 2.6px;
    background-color: #eeeeee;
    display: inline-block; }
  .navigation__line::before, .navigation__line::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__line::before {
    top: -.9rem; }
  .navigation__line::after {
    top: .9rem; }

.navigation__button:hover .navigation__line::before {
  top: -1rem; }

.navigation__button:hover .navigation__line::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__line {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__line::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__line::after {
  top: 0;
  transform: rotate(-45deg); }

.slider {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: [slider-prev] 1fr [content-start] minmax(min-content, 14rem) [content-end] 1fr [slider-next]; }
  .slider__prev {
    grid-column: slider-prev / content-start;
    justify-self: left;
    align-self: center; }
  .slider__next {
    grid-column: 3 / 4;
    justify-self: right;
    align-self: center; }
  .slider__icon {
    height: 10rem;
    width: 10rem;
    cursor: pointer; }

.slider-content {
  grid-column: content-start / content-end; }
  .slider-content__media {
    width: auto;
    height: 77rem;
    justify-self: center;
    align-self: center; }

.users {
  background-color: #fafafa;
  grid-column: maincol-start 3 / maincol-end 6; }

.signupcontainer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.91) 0%, rgba(255, 255, 255, 0.91) 65%, transparent 90%), url("../img/stekjesruilers-02.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 56rem;
  width: 60rem; }
  .signupcontainer__form {
    height: 50%;
    padding: 4rem  0rem  0rem  9rem; }

.logincontainer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 95%), url("../img/stekjesruilers-04.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  height: 43rem;
  width: 55rem; }
  .logincontainer__form {
    height: 50%;
    padding: 3.5rem  0rem  0rem  9rem; }
