.btn {
  &,
  &:link,
  &:visited {
    font-family: $font-heading;
    font-weight: 500;
    font-size: 1.2rem;
    height: auto;
    width: 12rem;
    color: $color-black;
    display: inline-block;
    text-decoration: none;
    transition: all .2s;
    text-transform: uppercase;
    padding: 0.8rem;
    border-radius: 0.6rem;
    transition: all .1s;
    outline: none;
    // Change for the button element
    border: none;
    cursor: pointer;
    
  }

  &:hover {
    color: $color-green-dark-3;
    box-shadow: 0 1rem 2rem rgba($color-black, .15);
    transform: translateY(-2px);
  }

  &:active{
    box-shadow: 0 .5rem 1rem rgba($color-black, .15);
    transform: translateY(0);
  }
  
  &--yellow{
    background-color: $color-yellow-medium-1;
    color: $color-black;
    margin-bottom: 1rem;
    
  &:hover {
    background-color: $color-yellow-dark-1;
    color: $color-grey-light-1;
  }
 }

  &--green{
    background-color: $color-green-dark-1;
    color: $color-grey-light-1;
    margin-bottom: 1.8rem;
  &:hover {
    background-color: $color-green-dark-2;
    color: $color-white;
  }
 }

   &--grey{
    background-color: $color-grey-light-3;
    color: $color-grey-light-1;
    margin-bottom: 1.4rem;
  &:hover {
    background-color: $color-grey-dark-1;
    color: $color-white;
  }
 }

   &--form-blue{
    background-color: $color-blue-light-1;
    color: $color-grey-light-1;
    margin-bottom: 1.8rem;
    padding: 1.3rem 1.4rem;
    width: 12.5rem;    
  &:hover {
    background-color: $color-blue-medium-1;
    color: $color-white;
  }
 }

}
  