.about {
  background-color: $color-grey-light-1; ;
  grid-column: maincol-start 1 / maincol-end 8;
 
}

.aboutcontainer {
  text-align: center;

  &--description {
    width: 75rem;
    height: auto;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin-left: auto;
    margin-right: auto;
   }
  } 
