.cuttings {
  grid-column: maincol-start 1 / maincol-end 8;
  background-color: $color-grey-light-1;  

  &--list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem 4rem;
    margin: 1rem;

     &__button {
      background-color: $color-grey-light-1;
      margin: 1rem;
      grid-column: 4 /  5;
      justify-self: right;
      align-self: end;
  }
  }
}

.cutting {
  padding: 1rem 3rem;
  box-shadow: 0 0.3rem 0.5rem rgba($color-black, .10);
  border-radius: 1rem;
  background-color: $color-grey-light-2; 
  &--name {
    font-size: 1.6rem;
    color: $color-grey-dark-3;
    font-weight: 400;
  }
  &--photo {
    height: auto;
    width: 20rem;
    margin-top: 1rem;
  }
  &:hover {
    background-color: rgba($color-green-light-4, .10);
    transform: translateY(-2px);
  }

}

.cuttingsform-container {
  display: grid;
  grid-template-columns: [cuttingsform-start] 1fr repeat(8, [cuttingsform-col-start] minmax(min-content, 14rem) [cuttingsform-col-end]) 1fr [cuttingsform-end];
}
 
.cuttingsform {
  grid-column: cuttingsform-col-start 3 / cuttingsform-col-start 7;
}

.createcuttings {
  background-image: linear-gradient(rgba($color-white, .85) 0%, 
                                    rgba($color-white, .85) 65%, 
                                  transparent 90%),
                                  url('../img/stekjes-01.jpg');
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba($color-black, .15);
  height: 59rem;
  width: 80rem;

  &__form {
    height: 50%;
    padding: 4rem  0rem  0rem  9rem;
  }
}
