.header {
  background-color: $color-grey-light-1; 
  grid-column: navigation-start / full-end;
  padding: 2rem;  
}

.header-layout {
   display: grid;
   grid-template-columns: [header-left] 1fr [header-center] 1fr [header-right] 1fr;

    &__nav {
      grid-column: header-left / header-center;
      align-self: start;
    }

    &__logo {
      grid-column: header-right/ header-right;
      justify-self: end;
    }

    &__language {
      grid-column: header-right / header-right;
      align-self: start;
      justify-self: end;
    } 
  }
