.navigation {
  
  &__nav {
    background-color: $color-grey-light-2;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-top: 15rem;
    margin-left: 0rem;
  
  }

  &__list {
    background-color: $color-grey-light-2;
    list-style: none;
  
  }

  &__item {
    margin: 3rem 0 3rem 0; 
    
  }
    
  &__link {
    &:link,
    &:visited {
        
      font-family: $font-heading;
      font-size: 2rem;
      font-weight: 500;
      padding: 1rem 3rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-black;
      background: $color-yellow-dark-1;
      border-radius: 0rem 1.5rem 1.5rem 0rem;
      transition: all .2s;
        
    }

    &:hover{
      background: $color-yellow-medium-2;
      color: $color-orange-1;
      border-left: 5px solid $color-orange-1;
      box-shadow: 0 0.7rem 1rem rgba($color-black, .10);
      transform: translateY(-2px);
      background-position: 100%;
      }  
  } 
      
  &__checkbox {
    display: none;
  }

  &__button {
    &,
    &:link,
    &:visited {
      height: 6.5rem;
      width: 6.5rem;
      position: fixed;
      background-color: $color-yellow-dark-1;
      box-shadow: 0 0.5rem 3rem rgba($color-yellow-dark-1, .80);
      border-radius: 50%;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      z-index: 2000;  
      transition: all .2s;
      text-align: center;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      box-shadow: none;
    }
  }

  &__line {
    position: relative;
    margin-top: 3.1rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2.6px;
      background-color: $color-grey-light-2;
      display: inline-block;
  }

    &::before,
    &::after { 
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.9rem;
    }
    &::after {
      top: .9rem;
    }
  }
  
  &__button:hover &__line::before {
    top: -1rem;
  } 

  &__button:hover &__line::after {
    top: 1rem;
  } 

  &__checkbox:checked + &__button &__line {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__line::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__checkbox:checked + &__button &__line::after {
    top: 0;
    transform: rotate(-45deg);
  }

}
