.users {
  background-color: $color-grey-light-1;
  grid-column: maincol-start 3 / maincol-end 6;
}

.signupcontainer {
  background-image: linear-gradient(
      rgba($color-white, 0.91) 0%,
      rgba($color-white, 0.91) 65%,
      transparent 90%
    ),
    url("../img/forms/signup.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.15);
  height: 56rem;
  width: 60rem;
  &__form {
    height: 50%;
    padding: 4rem 0rem 0rem 9rem;
  }
}

.logincontainer {
  background-image: linear-gradient(
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 55%,
      transparent 90%
    ),
    url("../img/forms/login.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.15);
  height: 43rem;
  width: 55rem;
  &__form {
    height: 50%;
    padding: 3.5rem 0rem 0rem 9rem;
  }
}
